<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>tr.com.busoft.openfire.pusher.PusherPlugin</class>

    <name>${project.name}</name>
    <description>${project.description}</description>
    <version>${project.version}</version>

    <author>Busoft</author>
    <date>10/03/2020</date>

    <minJavaVersion>1.8</minJavaVersion>

    <databaseKey>pusher</databaseKey>
    <databaseVersion>1</databaseVersion>

    <adminconsole>
        <tab id="tab-pusher" name="Pusher" url="devices.jsp" description="${plugin.description}">
            <sidebar id="sidebar" name="Pusher">
                <item id="devices" name="${plugin.devices}" url="devices.jsp" description="${plugin.devices.description}" />
                <item id="settings" name="${plugin.settings}" url="settings.jsp" description="${plugin.settings.description}" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
