<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>tr.com.busoft.openfire.pusher.PusherPlugin</class>

    <name>${project.name}</name>
    <description>${project.description}</description>
    <version>${project.version}</version>

    <author>Busoft</author>
    <date>10/03/2020</date>

    <minJavaVersion>1.8</minJavaVersion>

    <databaseKey>pusher</databaseKey>
    <databaseVersion>1</databaseVersion>
</plugin>
