<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>tr.com.busoft.openfire.pusher.PusherPlugin</class>

    <name>${project.name}</name>
    <description>${project.description}</description>
    <version>${project.version}</version>

    <author>Busoft</author>
    <date>10/03/2020</date>

    <minJavaVersion>1.8</minJavaVersion>

    <databaseKey>pusher</databaseKey>
    <databaseVersion>1</databaseVersion>

    <adminconsole>
        <tab id="tab-pusher" name="Pusher" url="devices.jsp" description="Click to manage...">
            <sidebar id="sidebar" name="Pusher">
               <item id="devices" name="Devices" url="devices.jsp" description="Click to to list devices" />
                <item id="settings" name="Settings" url="settings.jsp" description="Click to edit settings" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
